[Unit]
Description=Spring Petclinic App
After=syslog.target
After=network.target[Service]
User=dpysarenko
Type=simple
[Service]
ExecStart=/usr/bin/java -jar /petclinic.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=petclinic
[Install]
WantedBy=multi-user.target
