#!groovy

import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.impl.*
import hudson.util.Secret
import java.nio.file.Files
import jenkins.model.Jenkins
import net.sf.json.JSONObject
import org.jenkinsci.plugins.plaincredentials.impl.*

Jenkins jenkins = Jenkins.getInstance()
def domain = Domain.global()
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()


// ----- SSH Private Key Credential ------ //

def jenkinsSSHcredentials = [
  id:           '{{ credentials }}',
  userName:     '{{ jenkins_user }}',
  description:  '{{ jenkinsSSHcredentials_description }}',
  key:          new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource('''{{ private_key }}''')
]

def privateKey = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  jenkinsSSHcredentials.id,
  jenkinsSSHcredentials.userName,
  jenkinsSSHcredentials.key,
  null,
  jenkinsSSHcredentials.description
)

// ----- Username and Password Credential ------ //

def jenkinsKey = [
  id:           '{{ jenkinsKey_id }}',
  description:  '{{ jenkinsKey_description }}',
  userName:     '{{ jenkins_user }}',
  password:     '{{ jenkins_pass }}'
]

def jenkinsUserPass = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  jenkinsKey.id,
  jenkinsKey.description,
  jenkinsKey.userName,
  jenkinsKey.password
)

store.addCredentials(domain, privateKey)
store.addCredentials(domain, jenkinsUserPass)
jenkins.save()
