#!groovy

import javaposse.jobdsl.dsl.DslScriptLoader
import javaposse.jobdsl.plugin.JenkinsJobManagement
import jenkins.model.Jenkins
import javaposse.jobdsl.dsl.DslFactory.*

// def jobDSL="""
// pipelineJob('{{ jobName }}') {
//   definition {
//     cpsScm {
//       scm {
//         git {
//           remote {
//             url('{{ gitUrl }}')
//             credentials('{{ credentials }}')
//           }
//        branch('{{ branch }}')
//        }
//      }
//     lightweight()
//    }
//   }
// }
// """;
def jobDSL="""
pipelineJob('deploy') {
  definition {
    cps {
      script(readFileFromWorkspace('/usr/share/jenkins/ref/init.groovy.d/Jenkinsfile'))
      sandbox(false)
    }
  }
}
""";
// Create the configuration job interface from a jobDSL script
def jobManagement = new JenkinsJobManagement(System.out, [:], new File('.'))
new DslScriptLoader(jobManagement).runScript(jobDSL)

//def workspace = new File('.')
// def jobManagement = new JenkinsJobManagement(System.out, [:], workspace)
